<div class="card">
  <div class="card-header text-white bg-primary">
    <h3>School Information</h3>
  </div>
  <div class="card-block">
    <form [formGroup]="schoolForm" id="">
      <div class="row g-3 align-items-center">
        <div class="col-2">
          <label for="name" class="col-form-label">School Name </label>
        </div>
        <div class="col-5">
          <input type="string" class="form-control" formControlName="name" />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-2">
          <label for="address" class="col-form-label">Address</label>
        </div>
        <div class="col-5">
          <input type="string" class="form-control" formControlName="address" />
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-2">
          <label for="principal" class="col-form-label">Principal</label>
        </div>
        <div class="col-5">
          <select formControlName="principal">
            <option *ngFor="let principal of principals" [ngValue]="principal">
              {{ principal.firstName + " " + principal.lastName }}
            </option>
          </select>
        </div>
      </div>

      <div class="btn">
        <button type="submit" class="btn btn-success" (click)="submit()">
          Save
        </button>
        <button type="button" class="btn btn-warning" (click)="discard()">
          Discard
        </button>
      </div>
    </form>
  </div>
  <ul class="list-group w-50 mx-auto" *ngFor="let item of list">
    <li class="list-group-item" (click)="editSchool(item)">
      {{ item.name }}
    </li>
  </ul>
</div>
