<div class="container-fluid" ng-controller="AppCtrl">
  <div
    class="alert alert-info loading text-center h-100"
    ng-show="users.length == 0"
  >
    System Users
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="badge pull-right text-black"
        >Total Users : {{ list.length }}</span
      >
    </div>
    <div class="panel-body">
      <div class="row col-sm-12">
        <div class="">
   
      </div>
      <table
        class="table table-striped table-bordered"
        *ngIf="list.length != 0"
      >
        <thead>
          <tr>
            <th class="col-1">
              ID<span class="pull-right arrow-up"></span>
              <span class="pull-right arrow-down"></span>
            </th>
            <th class="col-1 w-0">
              Role<span class="pull-right arrow-up"></span>
              <span class="pull-right arrow-down"></span>
            </th>
            <th class="col-2">
              First Name<span class="pull-right arrow-up"></span>
              <span class="pull-right arrow-down"></span>
            </th>
            <th class="col-2">
              Last Name<span class="pull-right arrow-up"></span>
              <span class="pull-right arrow-down"></span>
            </th>
            <th class="col-1">
              Birth Day<span class="pull-right arrow-up"></span>
              <span class="pull-right arrow-down"></span>
            </th>
            <th class="col-2">
              User Name<span class="pull-right arrow-up"></span>
              <span class="pull-right arrow-down"></span>
            </th>

            <th class="col-2">
              Password<span class="pull-right arrow-up"></span>
              <span class="pull-right arrow-down"></span>
            </th>

            <th class="col-2.5">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr [formGroup]="form">
            <td class="h-100"></td>
            <td>
              <select class="form-control p-0" formControlName="authority">
                <option value="ROLE_STUDENT">Student</option>
                <option value="ROLE_TEACHER">Teacher</option>
                <option value="ROLE_PRINCIPAL">Director</option>
                <option value="ROLE_ADMIN">Admin</option>
              </select>
            </td>
            <td>
              <input
                class="col-2 w-100 form-control"
                formControlName="firstName"
                type="text"
              />
            </td>

            <td>
              <input
                class="col-2 w-100 form-control"
                formControlName="lastName"
                type="text"
              />
            </td>
            <td>
              <input
                class="col-1 w-100 form-control"
                formControlName="birthDate"
                type="text"
              />
            </td>
            <td>
              <input
                class="col-2 w-100 form-control"
                formControlName="username"
                type="text"
              />
            </td>
            <td>
              <input
                class="col-2 w-100 form-control"
                formControlName="password"
                type="text"
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-success p-0"
                (click)="addUser()"
              >
                Add
              </button>
              <button
                type="button"
                class="btn btn-warning p-0"
                (click)="clear()"
              >
                Clear
              </button>
            </td>
          </tr>

          <tr *ngFor="let item of list; index as index" class="mb-sm-10">
            <td (click)="editDisplay(index)" class="p-0">
              <span>{{ item.user.id }}</span>
            </td>
            <!-- <td (click)="editDisplay(index)">
              <span *ngIf="!item.edit">{{
                item.user.authorities[0].authority
              }}</span>
              <select class="p-0" *ngIf="item.edit">
                <option value="ROLE_STUDENT">Student</option>
                <option value="ROLE_TEACHER">Teacher</option>
                <option value="ROLE_PRINCIPAL">Director</option>
                <option value="ROLE_ADMIN">Admin</option>
              </select>
            </td> -->
            <td>
                {{    item.user.authorities[0].authority}}
              </td>
            <td (click)="editDisplay(index)">
              <span *ngIf="!item.edit">{{ item.user.firstName }}</span>
              <input
                type="text"
                *ngIf="item.edit"
                name="name"
                class="form-control"
                [(ngModel)]="item.user.firstName"
                [value]="item.user.firstName"
                placeholder="Name"
                required=""
              />
            </td>

            <td (click)="editDisplay(index)">
              <span *ngIf="!item.edit">{{ item.user.lastName }}</span>
              <input
                type="text"
                *ngIf="item.edit"
                name="name"
                class="form-control"
                [(ngModel)]="item.user.lastName"
                [value]="item.user.lastName"
                placeholder="Name"
                required=""
              />
            </td>
            <td (click)="editDisplay(index)">
              <span *ngIf="!item.edit">{{ item.user.birthDate }}</span>
              <input
                type="text"
                *ngIf="item.edit"
                name="dateOfBirth"
                class="form-control"
                [(ngModel)]="item.user.birthDate"
                [value]="item.user.birthDate"
                placeholder="Birth Day"
                required=""
              />
            </td>
            <td (click)="editDisplay(index)">
              <span *ngIf="!item.edit">{{ item.user.username }}</span>
              <input
                type="text"
                *ngIf="item.edit"
                name="userName"
                class="form-control"
                [(ngModel)]="item.user.username"
                [value]="item.user.username"
                placeholder="Username"
                required=""
              />
                 
            </td>
         
            <td (click)="editDisplay(index)">
              <span *ngIf="!item.edit">{{ item.user.password }}</span>
              <input
                type="text"
                *ngIf="item.edit"
                name="userName"
                class="form-control"
                [(ngModel)]="item.user.password"
                [value]="item.user.password"
                placeholder="Username"
                required=""
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary p-0"
                *ngIf="!item.edit"
                (click)="editUser(index)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger p-0"
                *ngIf="!item.edit"
                (click)="deleteUser(item.user.id, index)"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-success p-0"
                *ngIf="item.edit"
                (click)="updateUser(item.user.id, index)"
              >
                Update
              </button>
              <button
                type="button"
                class="btn btn-warning p-0"
                *ngIf="item.edit"
                (click)="cancelUser(index)"
              >
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
